.darkTh {
  background-color: #1b1e23;
}
.tc {
  text-align: justify;
}

/* body {
  background-image: url("../img/timg.avif");
  background-repeat: no-repeat;
  background: url("../img/timg.avif") center fixed no-repeat;
  background-size: 60%;
} */
